*{
    margin: 0;
    padding: 0;
    font-family: 'Microsoft YaHei';
    outline: none;
}
.login-background{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -100;
}

.login-2017-topbar{
    position: relative;
    height: 60px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.login-2017-link{
    float: right;
    list-style: none;
}

.login-2017-link li a{
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}

.login-2017-link li a:hover{
    color: #00c1de;
}

.login-2017-body{
    padding: 74px 118px;
    float: right;
}

.login-2017-body-box{
    margin: auto;
    position: relative;
}

.login-form-wrap{
    float: right;
    width: 330px;
    height: 100%;
    margin: auto 0px;
    padding: 35px;
    background: #ffffff;
}

.form-login-label{
   
}

.form-login-label label{
    font-size: 18px;
    color: #373D41;
}

.form-input-ll{
    margin: 20px 0;
}

.form-input{
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #D7D8D9;
    padding-left:10px; 
    color: #595959;
    box-sizing: border-box;
    outline: 0;
    box-shadow: none;
}
.input-hight-color:hover{
    border: 1px solid #04B4CE;
    box-shadow: 0px 0px 2px #A5EEF8;
}

.input-hight-color:focus{
    border: 1px solid #04B4CE;
    box-shadow: 0px 0px 2px #A5EEF8;
}

/*处理input输入框placeholder字体颜色*/
.form-input::-webkit-input-placeholder{
    color: #9B9EA0;
}

.form-submit{
    width: 100%;
    height: 40px;
    background: #00C1DE;
    border: 1px solid #00C1DE;
    color: #ffffff;
    font-size: 1em;
    border-radius: 2px;
}

.form-submit:hover{
    background: #04B4CE;
}

.forget-password-label{
    float: right;
    font-size: 0.8em;
    color: #9B9EA0;
    cursor: pointer;
}

.user-login-label{
    font-size: 0.8em;
    float: left;
    color: #9B9EA0;
    cursor: pointer;
}

.label-hover:hover{
    color: #04B4CE;
}

.link-box{
    margin-top: 10px;
}